SUBSYSTEM=="sound", DRIVERS=="snd-soc-macaudio", GOTO="speakersafetyd_macaudio"
GOTO="speakersafetyd_end"

LABEL="speakersafetyd_macaudio"
KERNEL=="pcmC*D2c", ATTRS{id}=="J*", ENV{ACP_IGNORE}="1"

#KERNEL=="pcmC*D2c", ATTRS{id}=="J180", TAG+="systemd", ENV{SYSTEMD_WANTS}="speakersafetyd.service"
#KERNEL=="pcmC*D2c", ATTRS{id}=="J274", TAG+="systemd", ENV{SYSTEMD_WANTS}="speakersafetyd.service"
#KERNEL=="pcmC*D2c", ATTRS{id}=="J293", TAG+="systemd", ENV{SYSTEMD_WANTS}="speakersafetyd.service"
#KERNEL=="pcmC*D2c", ATTRS{id}=="J313", TAG+="systemd", ENV{SYSTEMD_WANTS}="speakersafetyd.service"
#KERNEL=="pcmC*D2c", ATTRS{id}=="J314", TAG+="systemd", ENV{SYSTEMD_WANTS}="speakersafetyd.service"
#KERNEL=="pcmC*D2c", ATTRS{id}=="J316", TAG+="systemd", ENV{SYSTEMD_WANTS}="speakersafetyd.service"
#KERNEL=="pcmC*D2c", ATTRS{id}=="J375", TAG+="systemd", ENV{SYSTEMD_WANTS}="speakersafetyd.service"
#KERNEL=="pcmC*D2c", ATTRS{id}=="J413", TAG+="systemd", ENV{SYSTEMD_WANTS}="speakersafetyd.service"
#KERNEL=="pcmC*D2c", ATTRS{id}=="J414", TAG+="systemd", ENV{SYSTEMD_WANTS}="speakersafetyd.service"
#KERNEL=="pcmC*D2c", ATTRS{id}=="J415", TAG+="systemd", ENV{SYSTEMD_WANTS}="speakersafetyd.service"
#KERNEL=="pcmC*D2c", ATTRS{id}=="J416", TAG+="systemd", ENV{SYSTEMD_WANTS}="speakersafetyd.service"
#KERNEL=="pcmC*D2c", ATTRS{id}=="J456", TAG+="systemd", ENV{SYSTEMD_WANTS}="speakersafetyd.service"
#KERNEL=="pcmC*D2c", ATTRS{id}=="J457", TAG+="systemd", ENV{SYSTEMD_WANTS}="speakersafetyd.service"
#KERNEL=="pcmC*D2c", ATTRS{id}=="J473", TAG+="systemd", ENV{SYSTEMD_WANTS}="speakersafetyd.service"
#KERNEL=="pcmC*D2c", ATTRS{id}=="J474", TAG+="systemd", ENV{SYSTEMD_WANTS}="speakersafetyd.service"
#KERNEL=="pcmC*D2c", ATTRS{id}=="J475", TAG+="systemd", ENV{SYSTEMD_WANTS}="speakersafetyd.service"
#KERNEL=="pcmC*D2c", ATTRS{id}=="J493", TAG+="systemd", ENV{SYSTEMD_WANTS}="speakersafetyd.service"

LABEL="speakersafetyd_end"
